name: Docker Push to Docker Hub

on:
  push:
    branches:
      - main  # 监听 `main` 分支的推送
  workflow_dispatch:  # 允许手动触发工作流

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}  # 使用 GitHub Secrets 中的 Docker Hub 用户名
        password: ${{ secrets.DOCKERHUB_TOKEN }}  # 使用 GitHub Secrets 中的 Docker Hub 密码或访问令牌

    - name: Pull Docker Image from GHCR
      run: |
        docker pull ghcr.io/stsix/leaflow-checkin:latest  # 从 GHCR 拉取镜像

    - name: Tag Docker Image for Docker Hub
      run: |
        docker tag ghcr.io/stsix/leaflow-checkin:latest ${{ secrets.DOCKERHUB_USERNAME }}/leaflow-checkin:latest  # 使用 GitHub Secrets 中的 Docker Hub 用户名标记镜像

    - name: Push Docker Image to Docker Hub
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/leaflow-checkin:latest  # 推送到 Docker Hub 仓库
